<mat-card class="example-card">
    <mat-card-header>
        <div mat-card-avatar class="example-header-image"></div>
        <mat-card-title>Hyperextension</mat-card-title>
        <mat-card-subtitle>medium</mat-card-subtitle>
    </mat-card-header>
    <img mat-card-image src="https://t4.ftcdn.net/jpg/01/33/54/25/360_F_133542539_V6itKrSgb8uYmZY9oglR8xuewKyIn1H8.jpg"
        alt="Photo of a Hyperextension">
    <mat-card-content>
        <p>
            The hyperextension is a variation of the hip hinge movement pattern and an exercise used to target the
            glutes.

            Some may choose to utilize this exercise to target their lower back. However, for optimal health and maximum
            benefits, it is best to think of this exercise as a glute exercise.


        </p>
    </mat-card-content>
    <mat-card-actions>
        <button mat-button>LIKE</button>
        <button mat-button>SHARE</button>
    </mat-card-actions>
</mat-card>